force-app/main/default/flows/ADS_Update_Contact_Point_Lookup_on_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Activity_Id_to_Update_Record</name>
        <label>Assign Activity Id to Update Record</label>
        <locationX>253</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>updateActivityContactPoint.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Valid_Parameters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_ContactPoint_Lookup_to_Update_Activity</name>
        <label>Assign Empty ContactPoint Lookup to Update Activity</label>
        <locationX>762</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>updateActivityContactPoint.Contact_Point__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Activity_with_Contact_Point</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fetched_ContactPoint_Lookup_to_Update_Activity</name>
        <label>Assign Fetched ContactPoint Lookup to Update Activity</label>
        <locationX>182</locationX>
        <locationY>820</locationY>
        <assignmentItems>
            <assignToReference>updateActivityContactPoint.Contact_Point__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Point_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Activity_with_Contact_Point</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Contact_Point_Found_or_Not</name>
        <label>Check if Contact Point Found or Not</label>
        <locationX>412</locationX>
        <locationY>649</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Point_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Point_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Point__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Contact_Point_Details.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fetched_ContactPoint_Lookup_to_Update_Activity</targetReference>
            </connector>
            <label>Contact Point Found</label>
        </rules>
        <rules>
            <name>Contact_Point_Not_Found_Clear_Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Point_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Point__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Empty_ContactPoint_Lookup_to_Update_Activity</targetReference>
            </connector>
            <label>Contact Point Not Found Clear Lookup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Valid_Parameters</name>
        <label>Check Valid Parameters</label>
        <locationX>418</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>External_Phone_is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Point_Details</targetReference>
            </connector>
            <label>External Phone is Not Blank</label>
        </rules>
        <rules>
            <name>External_Phone_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.External_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Empty_ContactPoint_Lookup_to_Update_Activity</targetReference>
            </connector>
            <label>External Phone is Blank</label>
        </rules>
    </decisions>
    <description>ADS Update Contact Point Lookup on Activity</description>
    <environments>Default</environments>
    <interviewLabel>ADS Update Contact Point Lookup on Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADS Update Contact Point Lookup on Activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Point_Details</name>
        <label>Get Contact Point Details</label>
        <locationX>195</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Contact_Point_Found_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Formatted_Phone_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Point__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Activity_with_Contact_Point</name>
        <label>Update Activity with Contact Point</label>
        <locationX>463</locationX>
        <locationY>866</locationY>
        <inputReference>updateActivityContactPoint</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Assign_Activity_Id_to_Update_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>External_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>External_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>480</triggerOrder>
    <variables>
        <name>updateActivityContactPoint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activity__c</objectType>
    </variables>
</Flow>
