force-app/main/default/flows/ADS_Publish_InboxLatestMessage_Platform_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Store_Unread_Messages_Count_based_on_phone_number</name>
        <label>Store Unread Messages Count based on phone number</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>unreadMessagesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Phone_Number_Based_Get_Unread_Messages_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inbox_Record_with_Unread_Messages_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Unread_Messages_Count_based_on_whattid</name>
        <label>Store Unread Messages Count based on whattid</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>unreadMessagesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>WhattId_Based_Get_Unread_Messages_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inbox_Record_with_Unread_Messages_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_parameters_are_valid_for_getting_unread_messages_count</name>
        <label>Check parameters are valid for getting unread messages count</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Inbox_Record_with_Unread_Messages_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_number_based_Unread_messages_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Formatted_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Number_Based_Get_Unread_Messages_Count</targetReference>
            </connector>
            <label>Phone number based Unread messages count</label>
        </rules>
        <rules>
            <name>WhattId_based_Unread_messages_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhattId_Based_Get_Unread_Messages_Count</targetReference>
            </connector>
            <label>WhattId based Unread messages count</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ADS Publish {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADS Publish InboxLatestMessage Platform Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_InboxLatestMessage_Platform_Event</name>
        <label>Publish InboxLatestMessage Platform Event</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_No__c</field>
            <value>
                <elementReference>$Record.Activity_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direction__c</field>
            <value>
                <elementReference>$Record.Direction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Record.Error_Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Phone__c</field>
            <value>
                <elementReference>$Record.External_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formatted_Phone__c</field>
            <value>
                <elementReference>$Record.Formatted_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Name__c</field>
            <value>
                <elementReference>$Record.Member_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Record.Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Formatted_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recording_Duration__c</field>
            <value>
                <elementReference>$Record.Recording_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recording_End_Time__c</field>
            <value>
                <elementReference>$Record.Recording_End_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recording_Start_Time__c</field>
            <value>
                <elementReference>$Record.Recording_Start_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recording_URL__c</field>
            <value>
                <elementReference>$Record.Recording_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unread_Activities__c</field>
            <value>
                <elementReference>unreadMessagesCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.WhatId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When__c</field>
            <value>
                <elementReference>$Record.When__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>media_url__c</field>
            <value>
                <elementReference>$Record.media_url__c</elementReference>
            </value>
        </inputAssignments>
        <object>InboxLatestMessage__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Phone_Number_Based_Get_Unread_Messages_Count</name>
        <label>Phone Number Based Get Unread Messages Count</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Unread_Messages_Count_based_on_phone_number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Formatted_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Formatted_Phone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsUnread__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WhattId_Based_Get_Unread_Messages_Count</name>
        <label>WhattId Based Get Unread Messages Count</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Unread_Messages_Count_based_on_whattid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsUnread__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inbox_Record_with_Unread_Messages_Count</name>
        <label>Update Inbox Record with Unread Messages Count</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Publish_InboxLatestMessage_Platform_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Contact_Point__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Formatted_Phone__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unread_Activities__c</field>
            <value>
                <elementReference>unreadMessagesCount</elementReference>
            </value>
        </inputAssignments>
        <object>Inbox__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_parameters_are_valid_for_getting_unread_messages_count</targetReference>
        </connector>
        <filterFormula>OR( ISNEW() , ISCHANGED({!$Record.Status__c}) )</filterFormula>
        <object>Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
    <variables>
        <name>unreadMessagesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
