force-app/main/default/flows/ADS_SMS_and_MMS_Optout_Consent_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Inbox_Record_Id</name>
        <label>Assign Inbox Record Id</label>
        <locationX>242</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>InboxRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Inbox_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_Point_Consent_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Inbox_Record_Exits_or_Not</name>
        <label>Check if Inbox Record Exits or Not</label>
        <locationX>374</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Point_Consent_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inbox_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Inbox_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inbox_Record_Id</targetReference>
            </connector>
            <label>Inbox Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Optout_Request_Exists_for_member_and_Contact_Point</name>
        <label>Check if Optout Request Exists for member and Contact Point</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_if_Inbox_Record_Exits_or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Capture Optout Request Consent</defaultConnectorLabel>
        <rules>
            <name>OptOut_Request_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Contact_Point_Consent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>OptOut Request Exists</label>
        </rules>
    </decisions>
    <description>SMS and MMS Optout Consent Registration - Creates Contact Point Consent Record for Opt-Out Request</description>
    <environments>Default</environments>
    <interviewLabel>ADS SMS and MMS Optout Consent Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADS SMS and MMS Optout Consent Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Point_Consent_Record</name>
        <label>Create Contact Point Consent Record</label>
        <locationX>374</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capture_Contact_Point_Type__c</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capture_Date__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capture_Source__c</field>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Status__c</field>
            <value>
                <stringValue>Opt Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Point__c</field>
            <value>
                <elementReference>$Record.Contact_Point__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Use_Purpose__c</field>
            <value>
                <elementReference>$Record.Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inbox__c</field>
            <value>
                <elementReference>InboxRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Phone__c</field>
            <value>
                <elementReference>$Record.Formatted_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact_Point_Consent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Contact_Point_Consent</name>
        <label>Fetch Contact Point Consent</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Inbox_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Point__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Point__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Member_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Formatted_Phone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Consent_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opt Out</stringValue>
            </value>
        </filters>
        <filters>
            <field>Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Point_Consent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Inbox_Record</name>
        <label>Fetch Inbox Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Optout_Request_Exists_for_member_and_Contact_Point</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Contact_Point__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Formatted_Phone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inbox__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Contact_Point_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Point__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Formatted_Phone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Direction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INBOUND</stringValue>
            </value>
        </filters>
        <filters>
            <field>Message_Intent__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>optout</stringValue>
            </value>
        </filters>
        <object>Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InboxRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
