force-app/main/default/flows/ADS_SMS_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Create a Log to Make Callout to Plivo Send SMS API By Account</description>
        <name>Log_Based_on_Account_to_Make_Callout_Plivo_Send_SMS</name>
        <label>Log Based on Account to Make Callout Plivo Send SMS</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>SYS_AccountInvocableHandler</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__newVal</typeName>
            <typeValue>Activity__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldVal</typeName>
            <typeValue>Activity__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>integrationType</name>
            <value>
                <stringValue>Plivo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectSetting</name>
            <value>
                <stringValue>PlivoSMS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operationType</name>
            <value>
                <stringValue>INSERT</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_If_New_or_Failed</name>
        <label>Check If New or Failed</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Outbound_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UUID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Message__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Based_on_Account_to_Make_Callout_Plivo_Send_SMS</targetReference>
            </connector>
            <label>New Outbound SMS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ADS SMS Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADS SMS Activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_New_or_Failed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Direction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OUTBOUND</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sms</stringValue>
            </value>
        </filters>
        <filters>
            <field>External_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Formatted_Phone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsBulkMessage__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsInboxMessage__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>800</triggerOrder>
</Flow>
