force-app/main/default/flows/Appointment_Checked_in_Send_Feedback_Form_Text_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>feedback_form_message</name>
        <dataType>String</dataType>
        <expression>{!$Label.sms_feedbackform}+ &apos; &apos; +  {!Fetch_Feedback_Form.Survey_Link__c}</expression>
    </formulas>
    <formulas>
        <name>feedback_form_message_subject</name>
        <dataType>String</dataType>
        <expression>TEXT( {!$Record.Account__r.Lead_Source__c}) + &apos; Feedback Form - OUTBOUND&apos;</expression>
    </formulas>
    <interviewLabel>Appointment Checked-in Send Feedback Form Text Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment Checked-in Send Feedback Form Text Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Appointment_Feedback_Form</name>
        <label>Create Appointment Feedback Form</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignRecordIdToReference>custom_form_id</assignRecordIdToReference>
        <connector>
            <targetReference>Fetch_Feedback_Form</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>feedback_survey_id</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Form__c</object>
    </recordCreates>
    <recordCreates>
        <name>Send_Feedback_Form_Text_to_Member</name>
        <label>Send Feedback Form Text to Member</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direction__c</field>
            <value>
                <stringValue>OUTBOUND</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Number__c</field>
            <value>
                <elementReference>ToPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsUnread__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>feedback_form_message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Account__r.Formatted_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>feedback_form_message_subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trackable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>sms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Feedback_Form</name>
        <label>Fetch Feedback Form</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Feedback_Form_Text_to_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>custom_form_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Custom_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Feedback_Form_Survey_Id</name>
        <label>Fetch Feedback Form Survey Id</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Appointment_Feedback_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>appointment_feedback_form_id</stringValue>
            </value>
        </filters>
        <object>Integration_Metadata__mdt</object>
        <outputAssignments>
            <assignToReference>feedback_survey_id</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Contact_Point</name>
        <label>Get Default Contact Point</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Feedback_Form_Survey_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Formatted_Phone_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact_Point__c</object>
        <outputAssignments>
            <assignToReference>ToPhoneNumber</assignToReference>
            <field>Formatted_Phone_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Default_Contact_Point</targetReference>
        </connector>
        <filterFormula>AND(
ISCHANGED({!$Record.Status__c}),
ISPICKVAL({!$Record.Status__c}, &apos;checked-in&apos;)
)</filterFormula>
        <object>Appointment_Scheduling__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>custom_form_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>feedback_survey_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
