force-app/main/default/flows/Appointment_Scheduling_Generate_UUID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_UUID_for_Triggering_Records</name>
        <label>Get UUID for Triggering Records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>PMA_InvocableUUIDGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_UUID_Values</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__newVal</typeName>
            <typeValue>Appointment_Scheduling__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__recordsUpdatable</typeName>
            <typeValue>Appointment_Scheduling__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description>Appointment Scheduling Generate UUID</description>
    <environments>Default</environments>
    <interviewLabel>Appointment Scheduling Generate UUID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment Scheduling Generate UUID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_UUID_Values</name>
        <label>Update UUID Values</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputReference>Get_UUID_for_Triggering_Records.recordsUpdatable</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_UUID_for_Triggering_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UUID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Appointment_Scheduling__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
