force-app/main/default/flows/Associate_Product_on_Google_Calendar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_if_Google_Booking_Calendar_Id_was_Empty_or_Not</name>
        <label>Check if Google Booking Calendar Id was Empty or Not</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Google_Booking_Calendar_Id_was_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Google_Booking_Calendar_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Google_Calendar_Product_Lookup</targetReference>
            </connector>
            <label>Google Booking Calendar Id was not Empty</label>
        </rules>
        <rules>
            <name>Google_Booking_Calendar_Id_was_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Google_Booking_Calendar_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Product_Lookup_From_Related_Google_Calendars</targetReference>
            </connector>
            <label>Google Booking Calendar Id was Empty</label>
        </rules>
    </decisions>
    <description>Associate Product on Google Calendar</description>
    <environments>Default</environments>
    <interviewLabel>Associate Product on Google Calendar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associate Product on Google Calendar</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_Product_Lookup_From_Previous_Google_Calendars</name>
        <label>Clear Product Lookup From Previous Google Calendars</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PMA_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Google_Calendar_Id__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Google_Booking_Calendar_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PMA_Product__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Google_Calendar__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Product_Lookup_From_Related_Google_Calendars</name>
        <label>Clear Product Lookup From Related Google Calendars</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PMA_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PMA_Product__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Google_Calendar__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Google_Calendar_Product_Lookup</name>
        <label>Update Google Calendar Product Lookup</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Clear_Product_Lookup_From_Previous_Google_Calendars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Google_Calendar_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Google_Booking_Calendar_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PMA_Product__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Google_Calendar__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Google_Booking_Calendar_Id_was_Empty_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Google_Booking_Calendar_Id__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
