force-app/main/default/flows/Create_Activity_After_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>paymentGatewayId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a0gHu00000GRihkIAD</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Appointment_Criteria</name>
        <label>Appointment Criteria</label>
        <locationX>802</locationX>
        <locationY>112</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_has_price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Unit_Price__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Payment_Intent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment_Intent</targetReference>
            </connector>
            <label>Product has price</label>
        </rules>
        <rules>
            <name>Free_Scheduling_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Unit_Price__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Stage_to_Completed</targetReference>
            </connector>
            <label>Free Scheduling Product</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>message_body</name>
        <dataType>String</dataType>
        <expression>&apos;Hello, To complete your booking, please make the payment by following this secure payment link: &apos; + {!Get_Payment_Intent.Athrz_Payment_Link__c}</expression>
    </formulas>
    <formulas>
        <name>payment_request_subject</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Account__r.Lead_Source__c}) + &apos; Payment Request - OUTBOUND&apos;</expression>
    </formulas>
    <formulas>
        <name>PaymentIntentName</name>
        <dataType>String</dataType>
        <expression>&apos;Payment for &apos; + {!$Record.Account__r.First_Name__c} +&apos; &apos;+{!$Record.Account__r.Last_Name__c}</expression>
    </formulas>
    <interviewLabel>Create Activity After Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Activity After Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Activity</name>
        <label>Create Activity (SMS)</label>
        <locationX>974</locationX>
        <locationY>321</locationY>
        <connector>
            <targetReference>Update_Account_Stage_to_Scheduled</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direction__c</field>
            <value>
                <stringValue>OUTBOUND</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Number__c</field>
            <value>
                <elementReference>ToPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formatted_Phone__c</field>
            <value>
                <elementReference>$Record.Account__r.Formatted_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsUnread__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>message_body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Intent__c</field>
            <value>
                <elementReference>payment_intent_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Account__r.Formatted_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>payment_request_subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trackable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>sms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId_ObjectApi_Name__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Intent</name>
        <label>Create Payment Intent</label>
        <locationX>727</locationX>
        <locationY>354</locationY>
        <assignRecordIdToReference>payment_intent_id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Payment_Intent</targetReference>
        </connector>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Athrz_Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Athrz_Amount__c</field>
            <value>
                <elementReference>$Record.Product__r.Unit_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Athrz_Email__c</field>
            <value>
                <elementReference>$Record.Account__r.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Athrz_Frequency__c</field>
            <value>
                <stringValue>single</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Athrz_PaymentType__c</field>
            <value>
                <stringValue>immediate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Athrz_Scheduled_Payment__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Postal_Code__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PaymentIntentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Gateway__c</field>
            <value>
                <elementReference>payment_gateway_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>payment_new</stringValue>
            </value>
        </inputAssignments>
        <object>Payment_Intent__c</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Payment_Gateway_Id</name>
        <label>Fetch Payment Gateway Id</label>
        <locationX>382</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Contact_Point</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>payment_gateway_id</stringValue>
            </value>
        </filters>
        <object>Integration_Metadata__mdt</object>
        <outputAssignments>
            <assignToReference>payment_gateway_id</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Contact_Point</name>
        <label>Get Default Contact Point</label>
        <locationX>485</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Payment_Intent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Formatted_Phone_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact_Point__c</object>
        <outputAssignments>
            <assignToReference>ToPhoneNumber</assignToReference>
            <field>Formatted_Phone_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Payment_Intent</name>
        <label>Get Existing Payment Intent</label>
        <locationX>671</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Appointment_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Intent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Intent</name>
        <label>Get Payment Intent</label>
        <locationX>844</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>payment_intent_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Intent__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Stage_to_Completed</name>
        <label>Update Account Stage to Completed</label>
        <locationX>1050</locationX>
        <locationY>106</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Appointment Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Stage_to_Scheduled</name>
        <label>Update Account Stage to Scheduled</label>
        <locationX>1126</locationX>
        <locationY>294</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Appointment Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>12</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>Fetch_Payment_Gateway_Id</targetReference>
        </connector>
        <object>Appointment_Scheduling__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>payment_gateway_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payment_intent_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>19739549794</stringValue>
        </value>
    </variables>
</Flow>
