force-app/main/default/flows/Customer_Stage_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>survey_id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a0RHu00000UjVJvMAN</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Customer_Current_Stage</name>
        <label>Customer Current Stage</label>
        <locationX>401</locationX>
        <locationY>117</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_changes_to_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Contact_Point</targetReference>
            </connector>
            <label>Stage changes to Verified</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>patient_intake_form</name>
        <dataType>String</dataType>
        <expression>&apos;Hello, Please complete our patient intake form at &apos;+{!get_custom_form.Survey_Link__c} + &apos; to help us provide you with the best care.&apos;</expression>
    </formulas>
    <formulas>
        <name>patient_intake_form_subject</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Lead_Source__c}) + &apos; Patient Intake Form - OUTBOUND&apos;</expression>
    </formulas>
    <interviewLabel>Customer Stage Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Stage Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Patient_Intake_Form</name>
        <label>Create Patient Intake Form</label>
        <locationX>922</locationX>
        <locationY>64</locationY>
        <assignRecordIdToReference>custom_form_id</assignRecordIdToReference>
        <connector>
            <targetReference>get_custom_form</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>patient_intake_form_survey_id</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Form__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Activity</name>
        <label>Create SMS Activity</label>
        <locationX>935</locationX>
        <locationY>254</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direction__c</field>
            <value>
                <stringValue>OUTBOUND</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Number__c</field>
            <value>
                <elementReference>ToPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsUnread__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>patient_intake_form</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Formatted_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>patient_intake_form_subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trackable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>sms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Patient_Intake_Survey</name>
        <label>Fetch Patient Intake Survey</label>
        <locationX>773</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Patient_Intake_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>patient_profile_form_id</stringValue>
            </value>
        </filters>
        <object>Integration_Metadata__mdt</object>
        <outputAssignments>
            <assignToReference>patient_intake_form_survey_id</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_custom_form</name>
        <label>get_custom_form</label>
        <locationX>1035</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SMS_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>custom_form_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Custom_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Contact_Point</name>
        <label>Get Default Contact Point</label>
        <locationX>607</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Patient_Intake_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Formatted_Phone_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact_Point__c</object>
        <outputAssignments>
            <assignToReference>ToPhoneNumber</assignToReference>
            <field>Formatted_Phone_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>8</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Customer_Current_Stage</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>custom_form_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patient_intake_form_survey_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>19739549794</stringValue>
        </value>
    </variables>
</Flow>
