force-app/main/default/flows/Deactivate_Member_or_External_Apps_User_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Updatable_Values_to_User_Record_Variable</name>
        <label>Assign Updatable Values to User Record Variable</label>
        <locationX>356</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>varUser.CommunityNickname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deactivatedCommunityNickname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUser.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deactivatedUsername</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUser.FederationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUser.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deactivatedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUser.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trigger_Deactivate_User_in_System_Context</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>567</locationX>
        <locationY>143</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Member</label>
        </rules>
        <rules>
            <name>Is_Vendor_or_Manager</name>
            <conditionLogic>( 1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_External_Apps_User_Using_Contact</targetReference>
            </connector>
            <label>Is Vendor or Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Portal_User_Found</name>
        <label>Portal User Found?</label>
        <locationX>552</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUser.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUser.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Updatable_Values_to_User_Record_Variable</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>deactivatedCommunityNickname</name>
        <dataType>String</dataType>
        <expression>&quot;_deactivated&quot; + LEFT({!varUser.CommunityNickname},28)</expression>
    </formulas>
    <formulas>
        <name>deactivatedEmail</name>
        <dataType>String</dataType>
        <expression>&quot;_deactivated&quot; + {!varUser.Email}</expression>
    </formulas>
    <formulas>
        <name>deactivatedUsername</name>
        <dataType>String</dataType>
        <expression>&quot;_deactivated&quot; + {!varUser.Username}</expression>
    </formulas>
    <interviewLabel>Deactivate Member or External Apps User Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivate Member or External Apps User Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Lookup External Apps User Using Contact</description>
        <name>Lookup_External_Apps_User_Using_Contact</name>
        <label>Lookup External Apps User Using Contact</label>
        <locationX>756</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Portal_User_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>CommunityNickname</queriedFields>
        <queriedFields>Username</queriedFields>
        <queriedFields>FederationIdentifier</queriedFields>
    </recordLookups>
    <start>
        <locationX>82</locationX>
        <locationY>59</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsUserDeactivated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Delay_of_1_Minute</name>
            <connector>
                <targetReference>Check_Record_Type</targetReference>
            </connector>
            <label>Delay of 1 Minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Trigger_Deactivate_User_in_System_Context</name>
        <label>Trigger Deactivate User in System Context</label>
        <locationX>193</locationX>
        <locationY>406</locationY>
        <flowName>Sub_Flow_to_Deactivate_User</flowName>
        <inputAssignments>
            <name>varUser</name>
            <value>
                <elementReference>varUser</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
