force-app/main/default/flows/Google_Calendar_Subscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Subscribe_to_Calendar</name>
        <label>Subscribe to Calendar</label>
        <locationX>226</locationX>
        <locationY>671</locationY>
        <actionName>SYS_AccountInvocableHandler</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__newVal</typeName>
            <typeValue>Google_Calendar__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldVal</typeName>
            <typeValue>Google_Calendar__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>integrationType</name>
            <value>
                <stringValue>Calendar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectSetting</name>
            <value>
                <stringValue>CalenderWatchEvent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operationType</name>
            <value>
                <stringValue>UPDATE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>param</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_if_Calendar_is_Not_Subscribed</name>
        <label>Check if Calendar is not Subscribed</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Calendar_is_not_Subscribed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Watch_Event_Expiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Watch_Event_Resource_URI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subscribe_to_Calendar</targetReference>
            </connector>
            <label>Calendar is not Subscribed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Google Calendar Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Google Calendar Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Calendar_is_Not_Subscribed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendar_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking Calendar</stringValue>
            </value>
        </filters>
        <filters>
            <field>Google_Calendar_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Google_Calendar__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Subscribe_Before_Expiry</name>
            <connector>
                <targetReference>Subscribe_to_Calendar</targetReference>
            </connector>
            <label>Subscribe Before Expiry</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Watch_Event_Expiry__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
