force-app/main/default/flows/HC_Update_Formatted_Phone_Number_Field_on_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_New_Number</name>
        <label>Add to New Number</label>
        <locationX>1197</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>newPhoneNumberTrimmed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstChar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_First_Character_from_unformatted_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Formatted_Phone_Number_to_Record_Variable</name>
        <label>Assign Formatted Phone Number to Record Variable</label>
        <locationX>433</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>ContactRecordToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecordToUpdate.Formatted_Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormattedNumberWithCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Formatted_Phone_Number_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PhoneNumber_length_to_Variable</name>
        <label>Assign PhoneNumber length to Variable</label>
        <locationX>732</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>phonenumberLength</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaPhonenumberLength</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Phone_Number_Length_Greater_Than_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Phone_Number_to_new_Variable</name>
        <label>Assign Record Phone Number to new Variable</label>
        <locationX>582</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>unformattedPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PhoneNumber_length_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrement_Length_Counter_by_1</name>
        <label>Decrement Length Counter by 1</label>
        <locationX>978</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>phonenumberLength</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Phone_Number_Length_Greater_Than_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_First_Character</name>
        <label>Get First Character</label>
        <locationX>782</locationX>
        <locationY>789</locationY>
        <assignmentItems>
            <assignToReference>FirstChar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaFirstChar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_First_Character_is_a_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_First_Character_from_unformatted_Number</name>
        <label>Remove First Character from unformatted Number</label>
        <locationX>1061</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>unformattedPhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaTrimFirstCharacter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decrement_Length_Counter_by_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Phone_Number_Length_Greater_Than_0</name>
        <label>Check Phone Number Length Greater Than 0</label>
        <locationX>571</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>Assign_Formatted_Phone_Number_to_Record_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>phonenumberLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_First_Character</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_First_Character_is_a_Number</name>
        <label>Is First Character is a Number</label>
        <locationX>840</locationX>
        <locationY>944</locationY>
        <defaultConnector>
            <targetReference>Remove_First_Character_from_unformatted_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES_number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaIsNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_New_Number</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <formulas>
        <name>FormattedNumberWithCountryCode</name>
        <dataType>String</dataType>
        <expression>IF(
            LEN({!newPhoneNumberTrimmed}) == 0 ,
            &apos;&apos;,
            IF(
                LEN({!newPhoneNumberTrimmed}) == 10 ,
                (IF(ISBLANK(TEXT({!$Record.Country_Code__c})), {!$Label.PlivoContryCode} , TEXT({!$Record.Country_Code__c})) )&amp;&apos;&apos;&amp;{!newPhoneNumberTrimmed},
                (IF( ISBLANK(TEXT({!$Record.Country_Code__c})), {!$Label.PlivoContryCode} , TEXT({!$Record.Country_Code__c})) ) &amp;&apos;&apos;&amp;RIGHT({!newPhoneNumberTrimmed}, IF( (LEN({!newPhoneNumberTrimmed}) &lt;= 10), LEN({!newPhoneNumberTrimmed}) , 10 )) 
            )		
        )</expression>
    </formulas>
    <formulas>
        <name>formulaFirstChar</name>
        <dataType>String</dataType>
        <expression>LEFT( {!unformattedPhoneNumber} ,1 )</expression>
    </formulas>
    <formulas>
        <name>formulaIsNumber</name>
        <dataType>Boolean</dataType>
        <expression>ISNUMBER( {!formulaFirstChar} )</expression>
    </formulas>
    <formulas>
        <name>formulaPhonenumberLength</name>
        <dataType>Number</dataType>
        <expression>LEN( {!unformattedPhoneNumber} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formulaTrimFirstCharacter</name>
        <dataType>String</dataType>
        <expression> RIGHT( {!unformattedPhoneNumber} , {!phonenumberLength}-1 )</expression>
    </formulas>
    <interviewLabel>HC Update Formatted Phone Number Field on Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HC Update Formatted Phone Number Field on Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Formatted_Phone_Number_Field</name>
        <label>Update Formatted Phone Number Field</label>
        <locationX>432</locationX>
        <locationY>850</locationY>
        <inputReference>ContactRecordToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Assign_Record_Phone_Number_to_new_Variable</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Formatted_Phone_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>400</triggerOrder>
    <variables>
        <name>ContactRecordToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FirstChar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newPhoneNumberTrimmed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phonenumberLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>unformattedPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
