force-app/main/default/flows/Inbox_Populate_Missing_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_if_contact_found_or_not</name>
        <label>Check if contact found or not?</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>No Contact found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Contact_Details_Based_on_Formatted_Phone_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inbox_Record_with_Missing_Fields</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <interviewLabel>Inbox Populate Missing Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inbox Populate Missing Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Contact_Details_Based_on_Formatted_Phone_Number</name>
        <label>Fetch Contact Details Based on Formatted Phone Number</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_contact_found_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Formatted_Phone_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Contact_Point__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Member_Record_Type_Id</name>
        <label>Get Member Record Type Id</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Contact_Details_Based_on_Formatted_Phone_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Member</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inbox_Record_with_Missing_Fields</name>
        <label>Update Inbox Record with Missing Fields</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Fetch_Contact_Details_Based_on_Formatted_Phone_Number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId_ObjectApi_Name__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>Fetch_Contact_Details_Based_on_Formatted_Phone_Number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Member_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4 OR 5 )</filterLogic>
        <filters>
            <field>External_Contact_Point__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId_ObjectApi_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Inbox__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
