force-app/main/default/flows/Notify_Member_Contact_for_Ambiguity_Profile_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Notify Member Contact for Ambiguity Profile Update</description>
    <environments>Default</environments>
    <formulas>
        <name>member_basic_profile_update_form</name>
        <dataType>String</dataType>
        <expression>&apos;Hello , Please update our profile by using the following link &apos;+{!GET_Custom_Form.Survey_Link__c}</expression>
    </formulas>
    <formulas>
        <name>member_basic_profile_update_form_subject</name>
        <dataType>String</dataType>
        <expression>&apos; Member Basic Profile Update Form - OUTBOUND&apos;</expression>
    </formulas>
    <interviewLabel>Customer Stage Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Member Contact for Ambiguity Profile Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Member_Basic_Profile_Update_Form</name>
        <label>Create Member Basic Profile Update Form</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignRecordIdToReference>custom_form_id</assignRecordIdToReference>
        <connector>
            <targetReference>GET_Custom_Form</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>member_basic_profile_update_form_id</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Form__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Activity</name>
        <label>Create SMS Activity</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direction__c</field>
            <value>
                <stringValue>OUTBOUND</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Number__c</field>
            <value>
                <elementReference>ExternalPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsUnread__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>member_basic_profile_update_form</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Formatted_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>member_basic_profile_update_form_subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trackable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>sms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Member_Basic_Profile_Update_Form</name>
        <label>Fetch Member Basic Profile Update Form</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Basic_Profile_Update_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>member_basic_profile_update_form_id</stringValue>
            </value>
        </filters>
        <object>Integration_Metadata__mdt</object>
        <outputAssignments>
            <assignToReference>member_basic_profile_update_form_id</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_Custom_Form</name>
        <label>GET Custom Form</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SMS_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>custom_form_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Custom_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Contact_Point</name>
        <label>Get Default Contact Point</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Member_Basic_Profile_Update_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Formatted_Phone_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact_Point__c</object>
        <outputAssignments>
            <assignToReference>ExternalPhoneNumber</assignToReference>
            <field>Formatted_Phone_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Default_Contact_Point</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Ambiguity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>custom_form_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExternalPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>19739549794</stringValue>
        </value>
    </variables>
    <variables>
        <name>member_basic_profile_update_form_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
