force-app/main/default/flows/PMA_Update_Contact_with_Trimmed_Phone_Number_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Trim_Contact_Formatted_Phone_Number_Field</name>
        <label>Trim Contact Formatted Phone Number Field</label>
        <locationX>963</locationX>
        <locationY>874</locationY>
        <actionName>PMA_PhoneNumberTrimInvocableHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Formatted_Phone_Number_Changed_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currentPhone</name>
            <value>
                <elementReference>$Record.Formatted_Phone_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneFieldApiName</name>
            <value>
                <stringValue>Formatted_Phone_Number__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PMA_PhoneNumberTrimInvocableHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Trim_Contact_Phone_Number_Field</name>
        <label>Trim Contact Phone Number Field</label>
        <locationX>879</locationX>
        <locationY>394</locationY>
        <actionName>PMA_PhoneNumberTrimInvocableHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Phone_Number_Changed_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currentPhone</name>
            <value>
                <elementReference>$Record.Phone_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneFieldApiName</name>
            <value>
                <stringValue>Phone_Number__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PMA_PhoneNumberTrimInvocableHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_if_Formatted_Phone_Number_Exists_or_not</name>
        <label>Check if Formatted Phone Number Exists or not</label>
        <locationX>589</locationX>
        <locationY>699</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Formatted_Phone_Number_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Formatted_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trim_Contact_Formatted_Phone_Number_Field</targetReference>
            </connector>
            <label>Formatted Phone Number is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Phone_Number_Exists_or_not</name>
        <label>Check if Phone Number Exists or not</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Check_if_Formatted_Phone_Number_Exists_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_Number_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trim_Contact_Phone_Number_Field</targetReference>
            </connector>
            <label>Phone Number is Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>PMA Update Trimmed Phone Number Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMA Update Contact with Trimmed Phone Number Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Formatted_Phone_Number_Changed_Records</name>
        <label>Update Formatted Phone Number Changed Records</label>
        <locationX>1118</locationX>
        <locationY>1002</locationY>
        <inputReference>Trim_Contact_Formatted_Phone_Number_Field</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Phone_Number_Changed_Records</name>
        <label>Update Phone Number Changed Records</label>
        <locationX>1053</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>Check_if_Formatted_Phone_Number_Exists_or_not</targetReference>
        </connector>
        <inputReference>Trim_Contact_Phone_Number_Field</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_if_Phone_Number_Exists_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
</Flow>
