force-app/main/default/flows/PMA_Inventory_Available_Stock_Quantity_Field_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Max_Available_Stock_for_Non_Invenotry</name>
        <label>Assign Max Available Stock for Non Invenotry</label>
        <locationX>214</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>newAvailableStockQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.147483647E9</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Available_Stock_Quantity_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stock_Available</name>
        <label>Assign Stock Available</label>
        <locationX>791</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>newAvailableStockQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>availableStockQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Available_Stock_Quantity_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Zero_for_No_Stock_Available</name>
        <label>Assign Zero for No Stock Available</label>
        <locationX>483</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>newAvailableStockQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Available_Stock_Quantity_Field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Stock_is_Available_or_Not</name>
        <label>Check if Stock is Available or Not</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stock_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Option_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Inventory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stock_Available</targetReference>
            </connector>
            <label>Stock is Available</label>
        </rules>
        <rules>
            <name>Stock_is_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Option_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Inventory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Zero_for_No_Stock_Available</targetReference>
            </connector>
            <label>Stock is Not Available</label>
        </rules>
        <rules>
            <name>Non_Inventory_Component_Stock_is_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Inventory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Max_Available_Stock_for_Non_Invenotry</targetReference>
            </connector>
            <label>Non Inventory Component Stock is Not Available</label>
        </rules>
    </decisions>
    <formulas>
        <name>availableStockQuantity</name>
        <dataType>Number</dataType>
        <expression>FLOOR( {!$Record.Product_Inventory__r.Stock_Quantity__c} / {!$Record.Required_Quantity__c} )</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>PMA Inventory Available Stock Quantity Field Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMA Inventory Available Stock Quantity Field Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Available_Stock_Quantity_Field</name>
        <label>Update Available Stock Quantity Field</label>
        <locationX>622</locationX>
        <locationY>685</locationY>
        <inputAssignments>
            <field>Available_Stock_Quantity__c</field>
            <value>
                <elementReference>newAvailableStockQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_if_Stock_is_Available_or_Not</targetReference>
        </connector>
        <object>Product_Option_Component__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newAvailableStockQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
