force-app/main/default/flows/PMA_Activity_Associate_Owner_Based_on_Account_Lookup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Classify_Based_on_Created_User</name>
        <label>Classify Based on Created User</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_PMA_Manager</name>
            <conditionLogic>1 AND( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PMA App</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.ContactId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Contact_Based_on_User_ContactId</targetReference>
            </connector>
            <label>Is PMA Manager</label>
        </rules>
        <rules>
            <name>Is_Non_PMA_User_and_Account_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PMA App</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_Owner_based_on_Account_Lookup</targetReference>
            </connector>
            <label>Is Non PMA User and Account Filled</label>
        </rules>
        <rules>
            <name>Is_Non_PMA_User_and_Contact_Field_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PMA App</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_and_Record_Owner_based_on_Contact_Account_Lookup</targetReference>
            </connector>
            <label>Is Non PMA User and Contact Field Filled</label>
        </rules>
    </decisions>
    <description>PMA Activity Associate Owner Based on Account Lookup</description>
    <environments>Default</environments>
    <formulas>
        <name>userContactId</name>
        <dataType>String</dataType>
        <expression>IF(  ISBLANK( {!$Record.Owner:User.ContactId__c} ) ,
 {!$Record.Owner:User.ContactId},
{!$Record.Owner:User.ContactId__c})</expression>
    </formulas>
    <interviewLabel>PMA Activity Associate Owner Based on Account Lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMA Activity Associate Owner Based on Account Lookup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Contact_Based_on_User_ContactId</name>
        <label>Fetch Contact Based on User ContactId</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Lookup_based_on_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_and_Record_Owner_based_on_Contact_Account_Lookup</name>
        <label>Update Account and Record Owner based on Contact - Account Lookup</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Account.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Contact__r.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Lookup_based_on_Owner</name>
        <label>Update Account Lookup based on Owner</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Fetch_Contact_Based_on_User_ContactId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Fetch_Contact_Based_on_User_ContactId.Account.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Fetch_Contact_Based_on_User_ContactId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Fetch_Contact_Based_on_User_ContactId.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Owner_based_on_Account_Lookup</name>
        <label>Update Record Owner based on Account Lookup</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Classify_Based_on_Created_User</targetReference>
        </connector>
        <object>Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>200</triggerOrder>
    <variables>
        <name>currentItem_Filter_Current_Activity_Realted_Contact_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SysTrackerType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
