force-app/main/default/flows/PMA_INBOUND_SMS_Forward_to_Managers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Activity_to_Collection_Variable</name>
        <label>Add Activity to Collection Variable</label>
        <locationX>475</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>managerSMSActivityRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>managerSMSActivityRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_All_Managers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Collection_Variable_with_Manager_SMS_Activity</name>
        <label>Update Collection Variable with Manager SMS Activity</label>
        <locationX>731</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>managerSMSActivityRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>sms</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerSMSActivityRecord.Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INBOUND</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerSMSActivityRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerSMSActivityRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_All_Managers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerSMSActivityRecord.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_All_Managers.Formatted_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerSMSActivityRecord.External_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.External_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerSMSActivityRecord.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>managermessageSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerSMSActivityRecord.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManagerInboundMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerSMSActivityRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_All_Managers.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerSMSActivityRecord.When__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerSMSActivityRecord.Is_Forwarded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerSMSActivityRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>managerSMSActivityRecord.Formatted_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_All_Managers.Formatted_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Activity_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Desion_for_contact_check</name>
        <label>Desion for contact check</label>
        <locationX>939</locationX>
        <locationY>61</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Contact_records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activity_update</targetReference>
            </connector>
            <label>Contact was Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ManagerInboundMessage</name>
        <dataType>String</dataType>
        <expression>{!Getting_Contact_records.Name} &amp; &quot; - &quot; &amp;{!Getting_Contact_records.Phone_Number__c} &amp; &quot; Replied As:  &quot; &amp; {!$Record.Message__c}</expression>
    </formulas>
    <formulas>
        <name>managermessageSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Forwarded Message From &quot;&amp; {!Getting_Contact_records.Name}  &amp; &quot;To &quot; &amp; {!Iterate_over_All_Managers.Name}</expression>
    </formulas>
    <interviewLabel>PMA INBOUND SMS Forward to Managers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMA INBOUND SMS Forward to Managers</label>
    <loops>
        <description>Iterate over All Managers to notify incoming message</description>
        <name>Iterate_over_All_Managers</name>
        <label>Iterate over All Managers</label>
        <locationX>671</locationX>
        <locationY>424</locationY>
        <collectionReference>Get_all_Managers_for_the_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Collection_Variable_with_Manager_SMS_Activity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Message_to_All_Managers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_Message_to_All_Managers</name>
        <label>Send Message to All Managers</label>
        <locationX>347</locationX>
        <locationY>424</locationY>
        <inputReference>managerSMSActivityRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_Managers_for_the_Contact</name>
        <label>Get all Managers for the Contact</label>
        <locationX>881</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_All_Managers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Manager_RecordType_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Getting_Contact_records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager_RecordType_Id</name>
        <label>Get Manager RecordType Id</label>
        <locationX>1112</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Managers_for_the_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Contact_records</name>
        <label>Getting Contact records</label>
        <locationX>842</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Desion_for_contact_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Formatted_Phone_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Formatted_Phone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activity_update</name>
        <label>Activity update</label>
        <locationX>1114</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>Get_Manager_RecordType_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Forwarded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>357</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Getting_Contact_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Direction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INBOUND</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sms</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Forwarded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>760</triggerOrder>
    <variables>
        <name>managerSMSActivityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activity__c</objectType>
    </variables>
    <variables>
        <name>managerSMSActivityRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activity__c</objectType>
    </variables>
    <variables>
        <name>PlivoSenderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
