force-app/main/default/flows/PMA_Inventory_Transaction_Based_Available_Stock_Quantity_Field_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Current_Product_Option_Component_Record_Collection_Variable</name>
        <label>Assign Current Product Option Component Record Collection Variable</label>
        <locationX>936</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>newProductOptionComponentRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newProductOptionComponentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Inventory_Related_Product_Option_Components</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Product_Option_Component_Record_Variable</name>
        <label>Assign Current Product Option Component Record Variable</label>
        <locationX>1145</locationX>
        <locationY>927</locationY>
        <assignmentItems>
            <assignToReference>newProductOptionComponentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Inventory_Related_Product_Option_Components.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newProductOptionComponentRecord.Available_Stock_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAvailableStockQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Product_Option_Component_Record_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stock_Available</name>
        <label>Assign Stock Available</label>
        <locationX>1146</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>newAvailableStockQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>availableStockQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Product_Option_Component_Record_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Zero_for_No_Stock_Available_0</name>
        <label>Assign Zero for No Stock Available</label>
        <locationX>1274</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>newAvailableStockQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Product_Option_Component_Record_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Stock_is_Available_or_Not</name>
        <label>Check if Stock is Available or Not</label>
        <locationX>936</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stock_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Inventory_Related_Product_Option_Components.Is_Option_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stock_Available</targetReference>
            </connector>
            <label>Stock is Available</label>
        </rules>
        <rules>
            <name>Stock_is_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Inventory_Related_Product_Option_Components.Is_Option_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Zero_for_No_Stock_Available_0</targetReference>
            </connector>
            <label>Stock is Not Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>availableStockQuantity</name>
        <dataType>Number</dataType>
        <expression>FLOOR( {!Iterate_Over_Inventory_Related_Product_Option_Components.Product_Inventory__r.Stock_Quantity__c} / {!Iterate_Over_Inventory_Related_Product_Option_Components.Required_Quantity__c} )</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>PMA Inventory Transaction Based Available Stock Quantity Field Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMA Inventory Transaction Based Available Stock Quantity Field Update</label>
    <loops>
        <name>Iterate_Over_Inventory_Related_Product_Option_Components</name>
        <label>Iterate Over Inventory Related Product Option Components</label>
        <locationX>584</locationX>
        <locationY>503</locationY>
        <collectionReference>GET_All_Product_Option_Components_Tied_to_Inventory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Stock_is_Available_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Inventory_Related_Product_Option_Components</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_All_Product_Option_Components_Tied_to_Inventory</name>
        <label>GET All Product Option Components Tied to Inventory</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Inventory_Related_Product_Option_Components</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Option_Component__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Inventory_Related_Product_Option_Components</name>
        <label>Update All Inventory Related Product Option Components</label>
        <locationX>584</locationX>
        <locationY>1295</locationY>
        <inputReference>newProductOptionComponentRecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GET_All_Product_Option_Components_Tied_to_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stock_Quantity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Inventory__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newAvailableStockQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newProductOptionComponentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Option_Component__c</objectType>
    </variables>
    <variables>
        <name>newProductOptionComponentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Option_Component__c</objectType>
    </variables>
</Flow>
