force-app/main/default/flows/PMA_Create_New_Contact_for_New_Inbound_Numbers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Store_Contact_and_Account_Id_in_Triggred_Activity</name>
        <label>Store Contact and Account Id in Triggred Activity</label>
        <locationX>317</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>UpdateActivityRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateActivityRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Existing_Contact_By_FromNumber.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateActivityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateActivityRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details_Based_on_Incoming_Plivo_Phone_Number.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Activity_Record_Contact_and_Account_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Contact_and_Account_Id_in_Triggred_Activity_For_New_Contact</name>
        <label>Store Contact and Account Id in Triggred Activity For New Contact</label>
        <locationX>875</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>UpdateActivityRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details_Based_on_Incoming_Plivo_Phone_Number.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateActivityRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Contact_For_INBOUND_Activity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateActivityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateActivityRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details_Based_on_Incoming_Plivo_Phone_Number.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Activity_Record_Contact_and_Account_Lookup</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Contact_Found_or_Not</name>
        <label>Check if Contact Found or Not</label>
        <locationX>584</locationX>
        <locationY>743</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Contact_By_FromNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Contact_and_Account_Id_in_Triggred_Activity</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
        <rules>
            <name>No_Contact_Found_Create_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Contact_By_FromNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact_For_INBOUND_Activity</targetReference>
            </connector>
            <label>No Contact Found Create New Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PMA Create New Contact for New Inbound Numbers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMA Create New Contact for New Inbound Numbers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Contact_For_INBOUND_Activity</name>
        <label>Create New Contact For INBOUND Activity</label>
        <locationX>873</locationX>
        <locationY>776</locationY>
        <connector>
            <targetReference>Store_Contact_and_Account_Id_in_Triggred_Activity_For_New_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_Details_Based_on_Incoming_Plivo_Phone_Number.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formatted_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Formatted_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Formatted_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Type__c</field>
            <value>
                <stringValue>Guest</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Account_Details_Based_on_Incoming_Plivo_Phone_Number.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.Formatted_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Point_of_Contact__c</field>
            <value>
                <elementReference>Get_Account_Details_Based_on_Incoming_Plivo_Phone_Number.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Member_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Contact_By_FromNumber</name>
        <label>Find Existing Contact By FromNumber</label>
        <locationX>584</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Contact_Found_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Formatted_Phone_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Formatted_Phone_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Formatted_Phone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Details_Based_on_Incoming_Plivo_Phone_Number</name>
        <label>Get Account Details Based on Incoming Plivo Phone Number</label>
        <locationX>584</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Existing_Contact_By_FromNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Formatted_Phone_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact_Point__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Member_Record_Type</name>
        <label>Get Member Record Type</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Details_Based_on_Incoming_Plivo_Phone_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Member</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Activity_Record_Contact_and_Account_Lookup</name>
        <label>Update Activity Record Contact and Account Lookup</label>
        <locationX>611</locationX>
        <locationY>1078</locationY>
        <inputReference>UpdateActivityRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Member_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Direction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INBOUND</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>External_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>400</triggerOrder>
    <variables>
        <name>UpdateActivityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activity__c</objectType>
    </variables>
</Flow>
