force-app/main/default/flows/PMA_Assign_Transaction_to_Account_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_if_Account_or_Contact_or_Intent_is_not_Empty</name>
        <label>Check if Account or Contact or Intent is not Empty</label>
        <locationX>578</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intent_and_Account_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Intent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Intent__r.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_to_Account_Owner_By_Intent_Account_Lookup</targetReference>
            </connector>
            <label>Intent and Account is not Null</label>
        </rules>
        <rules>
            <name>Intent_and_Contact_and_Account_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Intent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Intent__r.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Intent__r.Contact__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_to_Account_Owner_By_Intent_Contact_Lookup</targetReference>
            </connector>
            <label>Intent and Contact and Account is not Null</label>
        </rules>
        <rules>
            <name>Contact_and_Contact_Account_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_to_Account_Owner_By_Contact_Lookup</targetReference>
            </connector>
            <label>Contact and Contact Account is not Null</label>
        </rules>
        <rules>
            <name>Account_is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_to_Account_Owner_By_Account_Lookup</targetReference>
            </connector>
            <label>Account is Not Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PMA Assign Transaction to Account Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMA Assign Transaction to Account Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Owner to Account Owner for Group Sharing</description>
        <name>Update_Owner_to_Account_Owner_By_Account_Lookup</name>
        <label>Update Owner to Account Owner By Account Lookup</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Owner to Account Owner for Group Sharing</description>
        <name>Update_Owner_to_Account_Owner_By_Contact_Lookup</name>
        <label>Update Owner to Account Owner By Contact Lookup</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Account.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Contact__r.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Owner to Account Owner for Group Sharing</description>
        <name>Update_Owner_to_Account_Owner_By_Intent_Account_Lookup</name>
        <label>Update Owner to Account Owner By Intent Account Lookup</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Intent__r.Account__r.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Intent__r.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Payment_Intent__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Payment_Intent__r.Account__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Owner to Account Owner for Group Sharing</description>
        <name>Update_Owner_to_Account_Owner_By_Intent_Contact_Lookup</name>
        <label>Update Owner to Account Owner By Intent Contact Lookup</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Intent__r.Contact__r.Account.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Intent__r.Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Payment_Intent__r.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Payment_Intent__r.Contact__r.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Account_or_Contact_or_Intent_is_not_Empty</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Intent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
