force-app/main/default/flows/PMA_SYS_Tracker_Account_Lookup_and_Owner_Assign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_if_SYS_Tracker_Account_is_not_Empty</name>
        <label>Check if SYS Tracker Account is not Empty</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_to_Account_Owner_By_Account_Lookup</targetReference>
            </connector>
            <label>Account Is not Empty</label>
        </rules>
        <rules>
            <name>Owner_Contact_is_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Contact_Details</targetReference>
            </connector>
            <label>Owner Contact is not Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OwnerContactId</name>
        <dataType>String</dataType>
        <expression>IF( NOT( ISBLANK( {!$Record.Owner:User.ContactId} ) ) ,
{!$Record.Owner:User.ContactId},
IF( NOT ( ISBLANK( {!$Record.Owner:User.ContactId__c} ) ) , {!$Record.Owner:User.ContactId__c} , &apos;&apos;   ) )</expression>
    </formulas>
    <interviewLabel>PMA SYS Tracker Account Lookup and Owner Assign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMA SYS Tracker Account Lookup and Owner Assign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Contact_Details</name>
        <label>Get User Contact Details</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Lookup_Based_on_Record_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Lookup_Based_on_Record_Owner</name>
        <label>Update Account Lookup Based on Record Owner</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_User_Contact_Details.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_User_Contact_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_to_Account_Owner_By_Account_Lookup</name>
        <label>Update Owner to Account Owner By Account Lookup</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_SYS_Tracker_Account_is_not_Empty</targetReference>
        </connector>
        <object>SYS_Tracker__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
