force-app/main/default/flows/PMA_Update_Associated_User_Record_Phone_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Store_User_Id_For_External_Apps_User</name>
        <label>Store User Id For External Apps User</label>
        <locationX>399</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>userRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Associated_Contact_User_Record_External_Apps_License.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_User_Found_for_Contact_or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_User_Id_For_SF_User</name>
        <label>Store User Id For SF User</label>
        <locationX>782</locationX>
        <locationY>805</locationY>
        <assignmentItems>
            <assignToReference>userRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Associated_Contact_User_Record_SF_License.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_User_Found_for_Contact_or_Not</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_User_Found_for_Contact_or_Not</name>
        <label>Check If User Found for Contact or Not</label>
        <locationX>578</locationX>
        <locationY>926</locationY>
        <defaultConnectorLabel>No User Found</defaultConnectorLabel>
        <rules>
            <name>Associated_User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Phone_Number</targetReference>
            </connector>
            <label>Associated User Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_User_is_External_Apps_or_SF_Licensed</name>
        <label>Check if User is External Apps or SF Licensed</label>
        <locationX>578</locationX>
        <locationY>710</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_External_Apps_Licensed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Associated_Contact_User_Record_External_Apps_License</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_User_Id_For_External_Apps_User</targetReference>
            </connector>
            <label>User is External Apps Licensed</label>
        </rules>
        <rules>
            <name>User_is_SF_Licensed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Associated_Contact_User_Record_SF_License</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_User_Id_For_SF_User</targetReference>
            </connector>
            <label>User is SF Licensed</label>
        </rules>
    </decisions>
    <description>PMA Update Associated User Record Phone Number field</description>
    <environments>Default</environments>
    <interviewLabel>PMA Update Associated User Record Phone Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMA Update Associated User Record Phone Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Associated_Contact_User_Record_External_Apps_License</name>
        <label>Fetch Associated Contact User Record External Apps License</label>
        <locationX>586</locationX>
        <locationY>547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_User_is_External_Apps_or_SF_Licensed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Associated_Contact_User_Record_SF_License</name>
        <label>Fetch Associated Contact User Record SF License</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Associated_Contact_User_Record_External_Apps_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Phone_Number</name>
        <label>Update User Phone Number</label>
        <locationX>446</locationX>
        <locationY>1046</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Formatted_Phone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Formatted_Phone_Number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Formatted_Phone__c</field>
            <value>
                <elementReference>$Record.Formatted_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Formatted_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Fetch_Associated_Contact_User_Record_SF_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Formatted_Phone_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>800</triggerOrder>
    <variables>
        <name>userRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
