force-app/main/default/flows/PMA_Inventory_Transaction_Quantity_Sign_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Modify_Quantity_to_Negative_for_Consumed_Stock</name>
        <label>Modify Quantity to Negative for Consumed Stock</label>
        <locationX>858</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>newQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityMultiplywithNegativeNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quantity_Based_on_Transaction_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Modify_Quantity_to_Positive_for_New_Stock</name>
        <label>Modify Quantity to Positive for New Stock</label>
        <locationX>320</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>newQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityMultiplywithNegativeNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quantity_Based_on_Transaction_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Stock_Added_or_Removed</name>
        <label>Check if Stock Added or Removed</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Stock_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Modify_Quantity_to_Positive_for_New_Stock</targetReference>
            </connector>
            <label>New Stock Added</label>
        </rules>
        <rules>
            <name>Stock_Consumed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Modify_Quantity_to_Negative_for_Consumed_Stock</targetReference>
            </connector>
            <label>Stock Consumed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>QuantityMultiplywithNegativeNumber</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity__c} * -1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PMA Inventory Transaction Quantity Sign Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMA Inventory Transaction Quantity Sign Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Quantity_Based_on_Transaction_Type</name>
        <label>Update Quantity Based on Transaction Type</label>
        <locationX>617</locationX>
        <locationY>654</locationY>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>newQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_if_Stock_Added_or_Removed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Inventory_Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
