force-app/main/default/flows/SYS_Payment_Method.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Account_Based_Get_Stripe_Customer_Details</name>
        <label>Account Based Get Stripe Customer Details</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <actionName>SYS_AccountInvocableHandler</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__newVal</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldVal</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Customer_Details.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>httpMethod</name>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newVal</name>
            <value>
                <elementReference>Get_Customer_Details</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>Get_Customer_Details.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>integrationType</name>
            <value>
                <stringValue>Stripe</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectSetting</name>
            <value>
                <stringValue>StripeCustomer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldVal</name>
            <value>
                <elementReference>Get_Customer_Details</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operationType</name>
            <value>
                <stringValue>UPDATE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SYS_AccountInvocableHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Payment_Method_Name</name>
        <label>Set Payment Method Name</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>PaymentMethodRecordName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentMethodName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Method_Name_From_Record_Name</name>
        <label>Set Payment Method Name From Record Name</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>PaymentMethodRecordName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Record_Name_is_Set_or_Not</name>
        <label>Check if Record Name is Set or Not</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Set_Payment_Method_Name_From_Record_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Name Was Set</defaultConnectorLabel>
        <rules>
            <name>Record_Name_Was_Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PaymentMethodName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Method_Name</targetReference>
            </connector>
            <label>Record Name Was Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Stripe_Customer_Found_or_Not</name>
        <label>Check If Stripe Customer Found or Not</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Lookup</targetReference>
            </connector>
            <label>Customer Found</label>
        </rules>
    </decisions>
    <description>Update Contact Lookup and Update Default Payment Method</description>
    <environments>Default</environments>
    <formulas>
        <name>PaymentMethodName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Brand__c})&amp;&quot; (&quot;&amp;{!$Record.Card_Last_4_Digit__c}&amp;&quot;)&quot;</expression>
    </formulas>
    <interviewLabel>SYS Payment Method {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SYS Payment Method</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Customer_Details</name>
        <label>Get Customer Details</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Stripe_Customer_Found_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StripeCustomerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Customer_Lookup</name>
        <label>Update Customer Lookup</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Account_Based_Get_Stripe_Customer_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Customer_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Customer_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PaymentMethodRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Customer_Details.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Record_Name_is_Set_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Payment_Method__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PaymentMethodRecordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
