force-app/main/default/flows/SYS_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Account Based Charge Request Outbound Log</description>
        <name>Account_Based_Charge_Request_Outbound_Log</name>
        <label>Account Based Charge Request Outbound Log</label>
        <locationX>694</locationX>
        <locationY>646</locationY>
        <actionName>SYS_AccountInvocableHandler</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__newVal</typeName>
            <typeValue>Transaction__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldVal</typeName>
            <typeValue>Transaction__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>integrationType</name>
            <value>
                <stringValue>Stripe</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectSetting</name>
            <value>
                <stringValue>Stripe_Transaction</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operationType</name>
            <value>
                <stringValue>INSERT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SYS_AccountInvocableHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_Payment_Request_is_Selected_0</name>
        <label>Check Payment Request is Selected</label>
        <locationX>320</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Request_is_not_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Intent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_Request_Status_0</targetReference>
            </connector>
            <label>Payment Request is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Fields_Before_Charge</name>
        <label>Check Required Fields Before Charge</label>
        <locationX>848</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_to_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Intent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TransactionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Based_Charge_Request_Outbound_Log</targetReference>
            </connector>
            <label>Ready to Charge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transaction_Status</name>
        <label>Check Transaction Status</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transaction_Status_is_Succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>succeeded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stripe_Receipt_URL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount_Captured__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Transaction Status is Succeeded</label>
        </rules>
        <rules>
            <name>Transaction_Status_is_Failed</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Payment_Request_is_Selected_0</targetReference>
            </connector>
            <label>Transaction Status is Failed</label>
        </rules>
        <rules>
            <name>Transaction_is_Scheduled_or_initiated</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>initiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Required_Fields_Before_Charge</targetReference>
            </connector>
            <label>Transaction is Scheduled or initiated</label>
        </rules>
    </decisions>
    <description>Handle Failed or Scheduled Transactions</description>
    <formulas>
        <description>Charge Activity Subject</description>
        <name>ActivityMessage</name>
        <dataType>String</dataType>
        <expression>&apos;Charged $&apos;&amp;TEXT({!$Record.Amount__c})&amp;&apos; for &apos;&amp;{!$Record.Account__r.Name}&amp;&apos; &apos;&amp;&apos; Service. Payment Receipt Link &apos;&amp;{!$Record.Stripe_Receipt_URL__c}</expression>
    </formulas>
    <formulas>
        <name>ActivitySubject</name>
        <dataType>String</dataType>
        <expression>&apos;Outbound SMS to Member - &apos;&amp;{!$Record.Contact__r.Phone_Number__c}&amp;&apos; for &apos;&amp;{!$Record.Account__r.Name}&amp;&apos; &apos;&amp;&apos; Service.&apos;</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>SYS Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SYS Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Payment_Request_Status_0</name>
        <label>Update Payment Request Status</label>
        <locationX>188</locationX>
        <locationY>623</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Intent__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>payment_new</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>payment_failed</stringValue>
            </value>
        </inputAssignments>
        <object>Payment_Intent__c</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Transaction_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
