force-app/main/default/flows/SYS_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Create New Subscription Order and Subscription</description>
        <name>Create_Initial_Subscription_Order_and_Subscription</name>
        <label>Create Initial Subscription Order and Subscription</label>
        <locationX>1107</locationX>
        <locationY>266</locationY>
        <actionName>PMA_ScheduleInvocableHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderType</name>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PMA_ScheduleInvocableHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Subscription_Order_and_Subscription</name>
        <label>Create Subscription Order and Subscription</label>
        <locationX>537</locationX>
        <locationY>931</locationY>
        <actionName>PMA_ScheduleInvocableHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderType</name>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PMA_ScheduleInvocableHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_UUID_for_Registration_Order</name>
        <label>Generate UUID for Registration Order</label>
        <locationX>360</locationX>
        <locationY>1084</locationY>
        <actionName>PMA_InvocableUUIDGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Order_UUIDs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__newVal</typeName>
            <typeValue>Order__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__recordsUpdatable</typeName>
            <typeValue>Order__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newVal</name>
            <value>
                <elementReference>Get_New_Registration_Order_Details</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uuidFieldApiName</name>
            <value>
                <stringValue>UUID__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PMA_InvocableUUIDGenerator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_UUIDs</name>
        <label>Generate UUIDs</label>
        <locationX>176</locationX>
        <locationY>435</locationY>
        <actionName>PMA_InvocableUUIDGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Member_UUID</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__recordsUpdatable</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__newVal</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PMA_InvocableUUIDGenerator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PMA_Contact_Trigger</name>
        <label>PMA Contact Trigger</label>
        <locationX>907</locationX>
        <locationY>1074</locationY>
        <actionName>PMA_ContactInvocableHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Limit_Flow_start_Scheduled</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>catalogId</name>
            <value>
                <elementReference>catalog_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operationType</name>
            <value>
                <stringValue>CREATE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>Create_Member_Register_Order</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PMA_ContactInvocableHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Account Based Stripe Customer Outbound log</description>
        <name>Stripe_Customer_Outbound_Log1</name>
        <label>Stripe Customer Outbound Log</label>
        <locationX>1340</locationX>
        <locationY>446</locationY>
        <actionName>SYS_AccountInvocableHandler</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__newVal</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldVal</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>integrationType</name>
            <value>
                <stringValue>Stripe</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectSetting</name>
            <value>
                <stringValue>StripeCustomer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operationType</name>
            <value>
                <stringValue>INSERT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SYS_AccountInvocableHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Catalog_Id_from_account</name>
        <label>Assign Catalog Id from account</label>
        <locationX>261</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>catalog_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Subscription_Products_Catalog__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Member_Register_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Catalog_Id_from_Contact</name>
        <label>Assign Catalog Id from Contact</label>
        <locationX>247</locationX>
        <locationY>814</locationY>
        <assignmentItems>
            <assignToReference>catalog_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscribed_Products_Catalog__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Member_Register_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Catalog_Id_from_Contact_Subscribed_Catalog</name>
        <label>Assign Catalog Id from Contact Subscribed Catalog</label>
        <locationX>257</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>catalog_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscribed_Products_Catalog__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Member_Register_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_UUID_Field</name>
        <label>Check for UUID Field</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Limit_Flow_start</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UUID_is_not_Generated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UUID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_UUIDs</targetReference>
            </connector>
            <label>UUID is not Generated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contact_Subscription_Catalog_Lookup_Selected</name>
        <label>Check if Contact Subscription Catalog Lookup Selected</label>
        <locationX>497</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Assign_Catalog_Id_from_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Catalog Lookup was not Selected</defaultConnectorLabel>
        <rules>
            <name>Contact_Catalog_Lookup_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscribed_Products_Catalog__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Catalog_Id_from_Contact_Subscribed_Catalog</targetReference>
            </connector>
            <label>Contact Catalog Lookup Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Limit_Flow_start</name>
        <label>Limit Flow start</label>
        <locationX>951</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Member_was_Activated_and_Registration_Order_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscriber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Initial_Subscription_Order_and_Subscription</targetReference>
            </connector>
            <label>Member was Activated and Registration Order Completed</label>
        </rules>
        <rules>
            <name>Member_was_Deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_the_Subscription_For_Deactivated_Member</targetReference>
            </connector>
            <label>Member was Deactivated</label>
        </rules>
        <rules>
            <name>Non_Member_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Active__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Contact_Status_to_Active</targetReference>
            </connector>
            <label>Non Member Record Type</label>
        </rules>
        <rules>
            <name>New_Contact_Created</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7) OR (2 AND 3 AND 4 AND 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Registration_Order_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscriber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscribed_Products_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_2</targetReference>
            </connector>
            <label>New Contact Created or Catalog changed</label>
        </rules>
        <rules>
            <name>Update_Customer</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 OR 5 OR 6 OR 7 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StripeCustomerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stripe_Customer_Outbound_Log1</targetReference>
            </connector>
            <label>Update Customer</label>
        </rules>
        <rules>
            <name>Guest_Member_Created</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND ( 6 OR 7 )</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Guest_Member_Valid_Till__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StripeCustomerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anonymous</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Guest_Member_Status_to_Active</targetReference>
            </connector>
            <label>Guest Member Created</label>
        </rules>
        <rules>
            <name>Create_Customer_on_Update_of_existing_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StripeCustomerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limit_Flow_start_Scheduled</targetReference>
            </connector>
            <label>Create Customer on Update of existing Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Limit_Flow_start_Scheduled</name>
        <label>Limit Flow start Scheduled</label>
        <locationX>1176</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Contact_Created_0</name>
            <conditionLogic>( 1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 ) OR ( 1 AND 2 AND 3 AND 4 AND 9 AND 10 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StripeCustomerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityCount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Latest_Activity_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UnreadActivitiesCount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscriber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stripe_Customer_Outbound_Log1</targetReference>
            </connector>
            <label>New Contact Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_2</name>
        <label>Stage 2</label>
        <locationX>721</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Check_if_Contact_Subscription_Catalog_Lookup_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Member Create Registration Order - Intent and Activity</defaultConnectorLabel>
        <rules>
            <name>Subscription_Changed_For_Active_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscribed_Products_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscribed_Products_Catalog__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Existing_subscription</targetReference>
            </connector>
            <label>Subscription Changed For Active Member</label>
        </rules>
        <rules>
            <name>Subscription_Changed_For_New_Member_No_Payment_Initiated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscribed_Products_Catalog__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscribed_Products_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_the_Existing_Registration_Order</targetReference>
            </connector>
            <label>Subscription Changed For New Member No Payment Initiated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>accountId</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.AccountId} , 15)</expression>
    </formulas>
    <formulas>
        <description>Check IsNew()</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>SYS Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SYS Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Member_Register_Order</name>
        <label>Create Member Register Order</label>
        <locationX>107</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Get_New_Registration_Order_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <stringValue>Registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Registration_Order_Details</name>
        <label>Get New Registration Order Details</label>
        <locationX>162</locationX>
        <locationY>1021</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_UUID_for_Registration_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Member_Register_Order</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Existing_subscription</name>
        <label>Cancel Existing subscription</label>
        <locationX>796</locationX>
        <locationY>905</locationY>
        <connector>
            <targetReference>Update_the_Subscription_Order_Status_to_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>canceled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cancel_the_Existing_Registration_Order</name>
        <label>Cancel the Existing Registration Order</label>
        <locationX>543</locationX>
        <locationY>787</locationY>
        <connector>
            <targetReference>Mark_as_Expired_Existing_Registration_Order_Payment_Intent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registration</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Cancel the Subscription For Deactivated Member</description>
        <name>Cancel_the_Subscription_For_Deactivated_Member</name>
        <label>Cancel the Subscription For Deactivated Member</label>
        <locationX>892</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>Close_Subscription_Order_For_Deactivated_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>canceled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Close Subscription Order For Deactivated Member</description>
        <name>Close_Subscription_Order_For_Deactivated_Member</name>
        <label>Close Subscription Order For Deactivated Member</label>
        <locationX>1024</locationX>
        <locationY>146</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_as_Expired_Existing_Registration_Order_Payment_Intent</name>
        <label>Mark as Expired Existing Registration Order Payment Intent</label>
        <locationX>391</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Assign_Catalog_Id_from_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>payment_done</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>payment_expired</stringValue>
            </value>
        </inputAssignments>
        <object>Payment_Intent__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Contact_Status_to_Active</name>
        <label>Mark Contact Status to Active</label>
        <locationX>888</locationX>
        <locationY>764</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Guest_Member_Status_to_Active</name>
        <label>Mark Guest Member Status to Active</label>
        <locationX>1033</locationX>
        <locationY>737</locationY>
        <connector>
            <targetReference>Limit_Flow_start_Scheduled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_UUID</name>
        <label>Update Member UUID</label>
        <locationX>471</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>Limit_Flow_start</targetReference>
        </connector>
        <inputReference>Generate_UUIDs.recordsUpdatable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_UUIDs</name>
        <label>Update Order UUIDs</label>
        <locationX>709</locationX>
        <locationY>1075</locationY>
        <connector>
            <targetReference>PMA_Contact_Trigger</targetReference>
        </connector>
        <inputReference>Generate_UUID_for_Registration_Order.recordsUpdatable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Subscription_Order_Status_to_Cancelled</name>
        <label>Update the Subscription Order Status to Cancelled</label>
        <locationX>664</locationX>
        <locationY>908</locationY>
        <connector>
            <targetReference>Create_Subscription_Order_and_Subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subscription</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Order__c</object>
    </recordUpdates>
    <start>
        <locationX>505</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>Check_for_UUID_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>catalog_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>initFeesProductOptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
